body {
  background-color: lightblue;
}
.item { border: 1px solid #ccc; padding: 10px; margin: 10px; width: 200px; display: inline-block; vertical-align: top; }
.item img { width: 100%; height: auto; }

.opacity-01 {
  opacity: 0.5;
}

.hover-opacity-01:hover {
  opacity: 1;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 10px;
  justify-content: center;
}

h1 {
  color: navy;
  margin-left: 20px;
}
h2 {
  color: darkblue;
  margin-left: 20px;
}